@page
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@model SearchModel
@{
    ViewData["Title"] = "Wyniki";
}



@*@if (Model.Recipe != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Tytuł
                </th>
                <th>
                    Opis
                </th>
                <th>
                    Autor
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Recipe)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @UserManager.FindByIdAsync(item.UserId).Result.UserName
                    </td>
                </tr>
            }

        </tbody>
    </table>

}







<form>
    <p>
        Category: <select asp-for="SearchCategory" asp-items="Model.Category">
            <option value="">All</option>
        </select>
        <input type= "submit" value="Filter"/>
    </p>
</form>*@


@if (Model.RecipeCategories != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Tytuł
                </th>
                <th>
                    Opis
                </th>
                <th>
                    Autor
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.RecipeCategories)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @UserManager.FindByIdAsync(item.UserId).Result.UserName
                    </td>
                </tr>
            }

        </tbody>
    </table>

}